:root {
  --bgcolor: #f8f8ff;
  --txtcolor: #333333;
  --hsize: 3em;
  --tsize: 1em;
  font-size: 16px;
  --font: "Quicksand", sans-serif;
  --hfont: "Fredoka", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bgcolor);
  color: var(--txtcolor);
}
